
# Node modules (bibliotecas instaladas pelo npm/yarn/pnpm)
node_modules/

# Build e output do Next.js
.next/
out/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de log e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store

# Arquivos do TypeScript gerados automaticamente
*.tsbuildinfo
next-env.d.ts

# Arquivos de configuração da Vercel
.vercel

# PnP do Yarn (caso use)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Cobertura de testes
coverage/

# Certificados locais
*.pem