@import "tailwindcss";

*{
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}

body{
   display: flex;
   font-size: 1.2rem;
   justify-content: center;
   background:linear-gradient(120deg, #0c0c0c 0%, #181717 30%, #19191a 60%, #0c0c0c 100%);
   background-size: cover;
   background-attachment: fixed;
   width: 100dvw;
   height: 100dvh;
}

@media (max-width: 480px) {
      .ajuste_m{
          margin-top: 12%;
      }
}

@media (min-width: 481px) and (max-width: 1024px) {
      .ajuste_t{
          margin-top: 20%;
      }
}

@media (min-width: 1025px) {
      .ajuste_d{
          margin-top: 7%;
      }
}